body{
    width:500px;
    margin:0 auto;
    text-align:center;
    overflow-x: hidden;
}
header h1{
    font-size:2em;
}
header a{
    text-decoration:none;
    padding:5px 10px;
    background:#2a5caa;
    color:white;
    margin:10px 0;
    border-radius:5px;
}
header a:hover{
    background:#f58220;
}
header p{
    margin:20px 0;
}
header #score{
    margin:0 5px;
    color:red;
}
#grid{
    display:inline-block;
    width:460px;
    height:460px;
    padding:20px;
    background:#bbaca0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    position:relative;
}
.grid-cell{
    width:100px;
    height:100px;
    background:#cdbfb4;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    position:absolute;
}
.numbercell{
    width:100px;
    height:100px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background:#eee3da;
    position:absolute;
    line-height:100px;
    text-align:center;
    font-size:36px;
    font-weight:bold;
}
/*
@media{min-width:750px} and (max-width:1279px){
    body{
        width:750px;
    }
    #grid{
        width:660px;
        height:660px;
    }
    #grid-cell{
        width:150px;
        height:150px;
    }
    .numbercell{
        width:150px;
        height:150px;
    }
}

 */